.btn {
	margin: 5px;
	padding: 0.6em;
	border: 2px solid transparent;
	border-radius: 7px;
	cursor: pointer;
	font-weight: 600;
	font-size: 0.9rem;

	transition: border 0.3s linear;
}

.btn-enabled .btn:hover {
	border: 2px solid black;
}

.btn-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
