.progress-bar-container {
	position: relative;
	display: flex;

	border-radius: 1em;
	box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.92);
}

.progress-bar-inner {
	min-width: 8%;
	max-width: 100%;
	box-shadow: inset 0px 0px 10px 0px #000000;
	border-radius: 1em;
}

.progress-bar-inner::before {
	display: flex;
	align-items: center;
	content: attr(data-value);
	position: absolute;
	left: 50%;
	top: 0.5em;
	bottom: 0.5em;
	transform: translateX(-50%);
}
