:root {
	--side-bar-radius: 25px;
	--side-bar-height-size: 75%;
	--side-bar-width-size: 330px;
}

.side-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	z-index: 3;
	gap: 10px;
	background-color: var(--yellow-primary-color);
	width: 3.5rem;
	padding: 1em;
	border-top-right-radius: var(--side-bar-radius);
	border-bottom-right-radius: var(--side-bar-radius);

	writing-mode: vertical-lr;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	-webkit-box-shadow: 13px 5px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 13px 5px 15px 1px rgba(0, 0, 0, 0.5);
}

.social-sidebar {
	background-color: lightgray;
	border: 4px solid var(--yellow-primary-color);
	border-left: 0;
	height: 85%;
	max-height: var(--side-bar-height-size);
	width: var(--side-bar-width-size);
	position: fixed;
	top: 50%;
	z-index: 3;
	border-top-right-radius: calc(var(--side-bar-radius) * 1.2);
	border-bottom-right-radius: calc(var(--side-bar-radius) * 1.2);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	-webkit-box-shadow: 13px 5px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 13px 5px 15px 1px rgba(0, 0, 0, 0.5);
	transition: width 0.3s;
}

.social-sidebar .sidebar-top {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.expanded {
	left: var(--side-bar-width-size);
}

.side-bar span {
	font-size: 2rem;
	cursor: default;
	letter-spacing: 0.05em;
}

.side-bar svg {
	width: 40px;
	height: 40px;
}

.side-bar svg.friend-icon {
	transform: rotateZ(90deg);
}

.side-bar svg.chevron-icon {
	cursor: pointer;
}

.expand {
	transform: rotateZ(-90deg);
}

.collapse {
	transform: rotateZ(90deg);
}

.side-bar .expand-side-bar {
	background-color: transparent;
	border: none;
}
