.text-field {
	margin-top: 10px;
	margin-bottom: 5px;
}

.field-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-field input[type='email'],
.text-field input[type='text'],
.text-field input[type='password'],
.text-field input[type='number'] {
	width: 100%;
	font-size: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border: 2px solid;
	background-color: darkgray;
	color: black;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.invalid input[type='text'],
.invalid input[type='password'] {
	border-color: darkred;
}

.invalid .field-feedback {
	color: darkred;
}

.valid input[type='text'],
.valid input[type='password'] {
	border-color: green;
}

.valid .field-feedback {
	color: green;
}
