.channel-creation-form {
	padding: 1rem;
	margin: auto;
	border-radius: 20px;
	border: solid;
	background-color: lightgray;
	text-align: center;
}

.creation-form-btns {
	display: flex;
	justify-content: space-between;
}
