.channel-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.channel-list-item :hover {
	background-color: darkgrey;
}

#channel-list-item-selected {
	background-color: red;
}
