.channel-list-item {
	font-size: 1.1rem;
	border-radius: 10px;
	padding: 0.3rem;
	margin-bottom: 3px;
	cursor: pointer;
	transition: background-color 0.3s linear;
}

.channel-list-item:hover {
	background-color: var(--yellow-primary-color);
}

#channel-list-item-selected {
	background-color: var(--blue-primary-color);
}

.channel-unread {
	background-color: red;
	width: 20px;
	height: 20px;
	font-size: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transform: translate(-50%, -70%);
}
