.channel-list-item {
	font-size: 1.1rem;
	border-radius: 10px;
	padding: 0.3rem;
	margin-bottom: 3px;
	cursor: pointer;
	transition: background-color 0.3s linear;
}

.channel-list-item:hover {
	background-color: var(--yellow-primary-color);
}

#channel-list-item-selected {
	background-color: var(--blue-primary-color);
}
