.achievements-table {
	text-align: center;
}

.achievements-table h2 {
	padding: 5px;
	display: inline-block;
	border: solid black;
	border-radius: 20px;
}

.achievements-item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 20px;
}
