.achievement-item-container {
	overflow: hidden;
	padding: 5px;
	max-width: 260px;
	border: solid 1.5px black;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.71);
	margin: 15px;
}

.achievement-item-container h3 {
	margin: 0;
	text-align: center;
}

.achievement-item-container hr {
	margin: 5px 5px;
}

.achievement-item-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.achievement-item-top img {
	margin: 5px 8px 5px 5px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.achievement-item-top p {
	text-align: center;
}

.achievement-item-bottom {
	display: flex;
	margin: 10px 10px;
	align-items: flex-start;
	justify-content: space-between;
}

.achievement-item-bottom img {
	width: 40px;
	height: 40px;
}

.achievement-item-bottom span {
	text-align: right;
}

.achievement-item-bottom span i {
	text-decoration: underline;
	font-size: small;
}
