.match-container {
	border: 1px solid;
	-webkit-box-shadow: 5px 3px 12px 2px rgba(0, 0, 0, 0.74);
	box-shadow: 5px 3px 12px 2px rgba(0, 0, 0, 0.74);
	border-radius: 20px;
	margin: 20px 20px;
	padding: 5px;
}

.match-summary {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.match-summary .match-profile-pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.29);
}

.match-summary #fight {
	width: 40px;
	height: 40px;
}

td {
	width: 10%;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.match-container h4 {
	display: inline;
	text-align: center;
}
