.profile-header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.profile-header-top img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.profile-header-top input[type='text'] {
	padding: 0.2em;
	font-size: 0.7em;
}

.profile-header-searchbar {
	display: flex;
	align-items: flex-end;
}

.profile-header-searchbar button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.2s;
}

.profile-header-searchbar button:hover {
	transform: scale(105%);
}

.profile-header-searchbar button svg {
	width: 35px;
	height: 35px;
}
