.game {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-players {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.game-timer {
	font-size: 30px;
}

.game-content {
	width: 60%;
	height: 60%;
	margin-top: 50px;
}

.game-canvas {
	width: 100%;
	aspect-ratio: 16/9;
	background-color: #d9d9d9;
}
