.player-result {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 50px;
	padding: 30px;
	margin-bottom: 30px;
}

.player-result-left {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.player-result-right {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.player-result-picture {
	height: 100%;
	width: auto;
	border-radius: 100%;
}

.player-result-name {
	margin-left: 20px;
}
