.play {
	height: 100%;
}

.play-state-lobby {
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-btn {
	border: 2px solid transparent;
	border-radius: 15px;
	color: #000;
	cursor: pointer;
	transform: translateY(-100%);
	cursor: pointer;
	width: 300px;
	height: 100px;
	font-size: 30px;
	font-weight: 600;
	margin-left: 20px;
	margin-right: 20px;
}

.ranked-btn {
	background-color: var(--yellow-primary-color);
}

.fun-btn {
	background-color: var(--blue-primary-color);
}

.play-btn:hover {
	border: solid 2px black;
}
