:root {
	--chat-textinput-size: 50px;
}

.chat-page {
	/* Center the chat page */
	margin: auto;
	height: 700px;
	width: 1200px;
	display: flex;
	border: 1px solid black;
}

.chat-page-left-side {
	min-width: 20%;
	text-align: center;
	border-right: 1px solid black;
	background-color: lightgray;
	padding: 0.5rem;
}

.chat-page-center {
	min-width: 60%;
}

.chat-page-right-side {
	min-width: 20%;
	text-align: center;
	border-left: 1px solid black;
	background-color: lightgray;
}

.chat-container {
	margin: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	list-style: none;
	background: lightgray;
	padding: 10px 0 60px 0;
}

.chat-container li {
	padding: 0.7rem;
	overflow: hidden;
	display: flex;
}

input.textarea {
	position: relative;
	left: 0px;
	right: 0px;
	width: 100%;
	height: var(--chat-textinput-size);
	bottom: var(--chat-textinput-size);
	background: #fafafa;
	border: none;
	outline: none;
	padding-left: 25px;
	padding-right: 25px;
	color: #666;
	font-size: 1rem;
}
