.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-main {
	width: fit-content;
	margin-top: 60px;
}

.login-title {
	font-size: 60px;
	margin-bottom: 0;
}

.login-subtitle {
	margin-top: 30px;
	text-align: right;
	font-size: 50px;
}

.login-portal {
	width: 600px;
	height: auto;
	transform: rotate(15deg);
	fill: #17c0e9;
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
	0% {
		-webkit-filter: drop-shadow(12px 12px 7px #48dafe8f);
		filter: drop-shadow(12px 12px 7px #48dafe8f);
		fill: #34b9db;
	}
	100% {
		-webkit-filter: drop-shadow(-12px 12px 7px #1d91ae8f);
		filter: drop-shadow(10px 10px 5px #1d91ae8f);
		fill: #138fae;
	}
}

.login-portal path {
	cursor: pointer;
}

.login-explain {
	font-size: 25px;
}
