.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	height: var(--navbar-size);
	z-index: 100;

	justify-content: space-between;
	align-items: center;
	background-color: lightgray;

	-webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.41);
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.41);
}

.navbar-logo {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-right: 10px;
}

.navbar-logo span {
	font-size: 1.7rem;
	letter-spacing: 0.075em;
}

.navbar-logo .logo-portal {
	width: calc(var(--navbar-size) + 5px);
	height: calc(var(--navbar-size) + 5px);
	transform: rotate(35deg);
	fill: var(--blue-primary-color);
	animation: glow-logo 2s ease-in-out infinite alternate;
}

@keyframes glow-logo {
	0% {
		-webkit-filter: drop-shadow(2px 12px 5px #48dafe8f);
		filter: drop-shadow(2px 12px 7px #48dafe8f);
		fill: #34b9db;
	}
	100% {
		-webkit-filter: drop-shadow(-2px 12px 5px #1d91ae8f);
		filter: drop-shadow(2px 10px 5px #1d91ae8f);
		fill: #138fae;
	}
}

.navbar-nav {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 50px;
}

.nav-link {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-evenly;
	text-decoration: none;
}

.nav-link svg {
	width: calc(var(--navbar-size) / 1.5);
	height: calc(var(--navbar-size) / 1.5);
}

.nav-item {
	transition: transform 0.3s;
}

.nav-item:hover {
	transform: scale(105%);
}

.nav-link span {
	font-size: calc(var(--navbar-size) * 0.4);
	color: black;
	letter-spacing: 0.03rem;
}

.nav-profile {
	color: black;
	font-size: calc(var(--navbar-size) * 0.3);
	text-decoration: underline;
}

.navRight {
	display: flex;
	gap: 10px;
	align-items: center;
}

.navRight img {
	border-radius: 20px;
	width: calc(var(--navbar-size) / 1.2);
	height: calc(var(--navbar-size) / 1.2);
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
	-moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
}

.nav-logout {
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 20px;
}
