#messages {
	text-align: left;
	background-color: white;
	height: 50vh;
	width: 50vw;
	overflow-y: scroll;
	overflow-x: visible;
	overflow-wrap: break-word;
}

.user {
	color: black;
	font-weight: bold;
}

.content {
	color: gray;
}

.channel {
	background-color: yellow; /* TODO: Better color than that */
	cursor: pointer;
}

.channel:hover {
	background-color: red; /* TODO: Better color than that */
}

.selectedChannel {
	background-color: red; /* TODO: Better color than that */
}
