.friend-list {
	background-color: lightgray;
	height: 75%;
	max-height: var(--side-bar-height-size);
	width: var(--side-bar-width-size);
	position: fixed;
	top: 50%;
	z-index: 2;
	border-top-right-radius: calc(var(--side-bar-radius) * 1.2);
	border-bottom-right-radius: calc(var(--side-bar-radius) * 1.2);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	-webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.45);
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.45);
	transition: width 0.3s;
}

.friend-list h2 {
	text-align: center;
}

.friend-list .add-friend-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-friend-form button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.add-friend-form button svg {
	width: 30px;
	height: 30px;
}

.friend-ul {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	height: inherit;
}
