.friend-section .friend-item {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	background-color: #b1b1b1;
	border: 1px solid black;
}

.friend-section .friend-item-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.friend-section .friend-item-top img {
	box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.29);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.friend-section .friend-item-center {
	margin-left: auto;
	margin-right: 5px;
}

.friend-section .friend-item-bottom {
}
