.user-list h2 {
	text-align: center;
}

.user-list .add-user-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-user-form button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.add-user-form button svg {
	width: 30px;
	height: 30px;
}

.user-ul {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 70%;
}
